<a href="https://colab.research.google.com/github/rupeshrgarje/BootCamp2/blob/main/SQL_Demo_RG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing Library
import sqlite3

In [2]:
# Connect to sqdlite db
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

In [4]:
# Create Table
# CREATE TABLE TABLE_NAME
cursor.execute('''
CREATE TABLE students (
  id INTEGER PRIMARY KEY,
  name TEXT,
  age INTEGER,
  grade TEXT
)
''')

In [5]:
# Insert Data to the Table
#INSERT INTO TABLE_NAME(COLUMN1, COLUMN2,...COLUMNn) VALUES (VALUE1,VALUE2,...VALUEn)
cursor.execute('''
INSERT INTO students (name, age, grade) VALUES ('John Doe', 21, 'A')
''')

In [6]:
cursor.execute('''
INSERT INTO students (name, age, grade) VALUES ('Jane Smith', 22, 'B')
''')
cursor.execute('''
INSERT INTO students (name, age, grade) VALUES  ('Ravi', 20, 'B')
''')
cursor.execute('''
INSERT INTO students (name, age, grade) VALUES  ('Raja', 23, 'C')
''')

In [7]:
# Commit the changes
conn.commit()

In [8]:
# Display the data in Table
# SELECT COLUMN_NAME FROM TABLE_NAME
cursor.execute('''
SELECT * FROM students
''')

In [9]:
rows = cursor.fetchall()

In [10]:
for row in rows:
  print(row)

(1, 'John Doe', 21, 'A')
(2, 'Jane Smith', 22, 'B')
(3, 'Ravi', 20, 'B')
(4, 'Raja', 23, 'C')

In [15]:
# Delete record were name is Raja
cursor.execute('''
DELETE FROM students WHERE name = 'Raja'
''')

In [26]:
# Display the data in Table
# SELECT COLUMN_NAME FROM TABLE_NAME
cursor.execute('''
SELECT * FROM students
''')

In [27]:
rows = cursor.fetchall()
for row in rows:
  print(row)

(1, 'John Doe', 21, 'A')
(2, 'Jane Smith', 22, 'B')
(3, 'Ravi', 30, 'B')

In [21]:
# Update record with age 30 where name is Ravi
# UPDATE TABLE_NAME SET FIELD_NAME = VALUE WHERE CONDITION
cursor.execute('''
UPDATE students SET age = 30 WHERE name = 'Ravi'
''')

In [22]:
# Commit the changes
conn.commit()

In [24]:
# Display the data in Table
# SELECT COLUMN_NAME FROM TABLE_NAME
cursor.execute('''
SELECT * FROM students
''')

In [25]:
rows = cursor.fetchall()
for row in rows:
  print(row)

(1, 'John Doe', 21, 'A')
(2, 'Jane Smith', 22, 'B')
(3, 'Ravi', 30, 'B')

In [28]:
# create a table_name courses with features, id and course_name
cursor.execute('''
CREATE TABLE courses (
  id INTEGER PRIMARY KEY,
  course_name TEXT
)
''')

In [32]:
# Add 3 records with values Mathematics, Physics and Physics
#INSERT INTO TABLE_NAME(COLUMN1, COLUMN2,...COLUMNn) VALUES (VALUE1,VALUE2,...VALUEn)
cursor.execute('''
INSERT INTO courses (course_name) VALUES ('Mathematics')
''')
cursor.execute('''
INSERT INTO courses (course_name) VALUES ('Physics')
''')
cursor.execute('''
INSERT INTO courses (course_name) VALUES ('Physics')
''')

In [33]:
# Commit the changes
conn.commit()

In [34]:
# Display the data in Table
# SELECT COLUMN_NAME FROM TABLE_NAME
cursor.execute('''
SELECT * FROM courses
''')

In [35]:
rows = cursor.fetchall()
for row in rows:
  print(row)

(1, 'Mathematics')
(2, 'Physics')
(3, 'Physics')

In [37]:
# join the tables
cursor.execute('''
SELECT students.name, courses.course_name from students JOIN courses ON students.id = courses.id
''')

In [38]:
# Commit the changes
conn.commit()

In [39]:
rows = cursor.fetchall()
for row in rows:
  print(row)

('John Doe', 'Mathematics')
('Jane Smith', 'Physics')
('Ravi', 'Physics')

In [55]:
# Aggregate operation
cursor.execute('''
SELECT courses.course_name, count(*) as students from courses
join students on courses.id = students.id
group by courses.course_name
''')

In [56]:
# Commit the changes
conn.commit()

In [57]:
rows = cursor.fetchall()
print("\nGrouped Data:")
for row in rows:
  print(row)

Grouped Data:
('Mathematics', 1)
('Physics', 2)

In [64]:
# ORDER BY GRADE FROM STUDENT TABLE IN DESCENDING ORDER
cursor.execute('''
SELECT name, grade FROM students ORDER BY grade DESC
''')

In [65]:
# Commit the changes
conn.commit()

In [66]:
rows = cursor.fetchall()
print("\nGrouped Data:")
for row in rows:
  print(row)

Grouped Data:
('Raja', 'C')
('Raja', 'C')
('Jane Smith', 'B')
('Ravi', 'B')
('Jane Smith', 'B')
('Ravi', 'B')
('Jane Smith', 'B')
('Ravi', 'B')
('John Doe', 'A')